
*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    width: 100%;
    height: 100vh;
    background: url('./fall1.jpg') center / cover no-repeat fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
body::after{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0004;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 0.5s ease;
}
.login-container{
    width: 400px;
    height: 300px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 15px;
    padding: 50px 30px;
    z-index: 1;
    backdrop-filter: blur(2px);
}
.login-container h2{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
    color: #cbde77c7;
}
.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
form input, button{
    padding: 10px 0;
    text-indent: 10px;
    border-radius: 7px;
    border: none;
    background-color: #0007;
    color: #fff;
    transition: all 0.4s;
}
form button{
    background-color: rgba(147, 239 , 67 , 0.6);
    cursor: pointer;
}
form button:hover{
    background-color: rgb(147 , 239 , 67);
}
form input:focus{
    outline: none;
}
